.button {
    background-color: #A259FF;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    
    align-items: center;
    min-width: 152px;
    justify-content: center;
    border-radius: 20px;
    border: none;
}

.big{
    height: 72px;
}

.medium {
    height: 58px;
}

.small {
    height: 52px;
}