@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position:fixed;
  margin:auto;
  padding:0px;
  text-align:center;
  backdrop-filter: blur(1px);
}
.modal_container {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:100;
  text-align:center;
  display: flex;
  flex-direction: row;
  background-color: #313131;
  border-radius: 20px;
  max-height: 335px;
}

.modal_picture_container svg {
  border-radius: 20px 0 0 20px;
  width: 335px;
}

.modal_info_container {
  padding: 20px;
  padding-top: 30px;
  min-width: 374px;
}

.modal_info_title {
  text-align: left;
}

.modal_info_title h4 {
  margin: 0;
}

.modal_info_title h6 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.modal_info_button svg {
  fill: white;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .modal_container {
    flex-direction: column;
    width: 335px;
    max-height:none;
  }

  .modal_picture_container svg {
    border-radius: 20px 20px 0 0;
  }

  .modal_info_container {
    min-width: unset;
  }

  .modal_info_title h6 {
    font-size: 15px;
  }
}