.navbar {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.navbar_links {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.navbar_links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.navbar_links ul li {
    margin-right: 20px;
    font-weight: 600;
}

.navbar_logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}